<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>博客</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <link href="/css/user.css" rel="stylesheet">

  <script src="/js/ie-emulation-modes-warning.js"></script>

</head>

<body>
    <div class="container">

        <form class="form-signin" method="POST" action="/admin/users/login">
          <h2 class="form-signin-heading">登录
            <a class="pull-right small" href="/admin/users/register">注册</a>
          </h2>
          <label for="inputEmail" class="sr-only">邮箱</label>
          <input type="email" id="inputEmail" class="form-control" name="email" placeholder="用户名" required autofocus>
          <label for="inputPassword" class="sr-only">密码</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
  
      </div> <!-- /container -->
  


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>